# === Server ===
PORT=3000
NODE_ENV=development

# === PostgreSQL ===
# Trong Docker Compose: DB_HOST = tên service ("db"), KHÔNG phải localhost
DB_HOST=db
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_strong_password_here
DB_SSL=false
